de.tgmz.discogs/src/main/xsd/discogs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/*********************************************************************
* Copyright (c) 02.03.2025 Thomas Zierer
*
* This program and the accompanying materials are made
* available under the terms of the Eclipse Public License 2.0
* which is available at https://www.eclipse.org/legal/epl-2.0/
*
* SPDX-License-Identifier: EPL-2.0
**********************************************************************/
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://s3.amazonaws.com/doc/2006-03-01/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListBucketResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Name"/>
        <xs:element type="xs:string" name="Prefix"/>
        <xs:element type="xs:string" name="Marker"/>
        <xs:element type="xs:short" name="MaxKeys"/>
        <xs:element type="xs:string" name="IsTruncated"/>
        <xs:element name="Contents" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Key"/>
              <xs:element type="xs:dateTime" name="LastModified"/>
              <xs:element type="xs:string" name="ETag"/>
              <xs:element type="xs:long" name="Size"/>
              <xs:element type="xs:string" name="StorageClass"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>